.menuOrder__container {
  background-color: whitesmoke;
  width: 100%;
  min-height: auto;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.308);
}
.menuOrder__formClient {
  padding-left: 1rem;
  font-size: 2rem;
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.menuOrder__clientName p,
.menuOrder__clientTable p {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1rem;
}

.menuOrder__border {
  border: none;
  color: var(--colorYellow);
}
hr:not([size]) {
  height: 3px;
  width: 80%;
  margin: 0 auto;
}

.resumen-icons {
  font-size: 1.8rem;
  color: #f1ca0d;
  cursor: pointer;
  margin-bottom: 1rem;
}

.orderPlaced__container {
  min-height: auto;
}

.orderPlaced__btnCount {
  font-size: 5rem;
  color: #f1ca0d;
  transition: 0.2s all;
  margin-bottom: 2rem;
}

.orderPlaced__btnCount:active {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.orderPlaced__width {
  width: 7rem;
}

.orderPlaced__paragraph {
  margin-top: 2.2rem;
}
