.navbar-container {
    border: 1px solid  rgba(0,0,0,.2);;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  /*   background-color: rgba(19, 21, 23, 0.9); */
}

.nav-icons {
    font-size: 5rem;
    color:var(--colorYellow);
    cursor: pointer;
    transition: 0.2s all;
}
.nav-icons:active {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
