.productos-container {
  min-height: auto;
  width: 100%;
  background-color: whitesmoke;
  /*  background-color: rgba(19, 21, 23, 0.9); */
  /*     color: white; */
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.308);

  transition: 0.2s all;
}

.productos-container:active {
  transform: scale(0.98);
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.308);
}
