.resumen-container {
  background-color: whitesmoke;
  width: 100%;
  min-height: auto;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.308);
}

/* .resumen-cliente h3,
.resumen-mesa h3 {
  color: #f1ca0d;
} */
.resumen-cliente p,
.resumen-mesa p {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1rem;
}

.resumen-border {
  border: none;
  color: var(--colorYellow);
}
hr:not([size]) {
  height: 3px;
  width: 80%;
  margin: 0 auto;
}

.circle {
  background-color: var(--colorYellow);
  width: 1rem;
  height: 1rem;
  /*   margin-top: 0.8rem; */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.resumen-icons {
  font-size: 1.8rem;
  color: #f1ca0d;
  cursor: pointer;
}

.container-pedido {
  min-height: auto;
}
