  
  .tabs-productos {
    font-size: 2.5rem;
    margin: auto;
    background-color: whitesmoke;
    border: 3px solid var(--colorYellow);
    width: 15rem;
    height: 6rem;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.308);
    transition: 0.2s all;
  }
  
  .active-tabs-productos  {
    background-color: var(--colorYellow);
  }
  .content {
    display: none;
  }
 
  .active-content {
    display: block;
  }