* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --colorYellow: #ffe66f;
  --colorblack: #rgba(19, 21, 23, 8.8);
}

/* Reiniciar estilos botones */
input,
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  outline: none;
}

html,
body {
  font-size: 10px;
  font-family: "Antonio", sans-serif;
}
h1 {
  font-size: 3rem;
  font-weight: 800;
}
h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
h3 {
  font-size: 2rem;
  font-weight: 700;
}
h4 {
  font-size: 1.9rem;
  font-weight: 700;
}
p {
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

a {
  outline: none;
  text-decoration: none;
  color: black;
}

.container--color {
  background-color: rgba(32, 35, 39, 0.9);
  /* background-color: rgba(50, 51, 53, 0.9); */
  /*   background-color: whitesmoke;  */
}
